<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>YC Demo</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

</head>
<body>
	<div id="container">
		<div id="main" role="main">
                    <p>{{ motd }}</p>
                    <p><b>Secret is:</b>&nbsp;<span>{{ secret }}</span></p>
		</div>
	</div>
</body>
</html>
